<div class="header">
    <div class="sub1">
        <a href="#"><img class="logo" src="logo.jpg" alt="Logo"></a>
    </div>
    <div class="sub2">
        <ul>
            <li><a href="admin">Manage Users</a></li>
            <li><a href="new">New Admin</a></li>
            <li><a href="">Companies</a></li>
            <li><a href=""></a></li>
        </ul>
    </div>
    <div>
        <form>
            <button formaction="logout" class="butt2"> Logout </button>
          </form>
    </div>
</div>