<div class="header">
    <div class="sub1">
      <a href="#"><img class="logo" src="logo.jpg" alt="Logo"></a>
    </div>
    <div class="sub2">
      <ul>
        <li><a href="home">Home</a></li>
        <!-- <li><a href="">About</a></li>
        <li><a href="">Packs</a></li>
        <li><a href="">Feedbacks</a></li> -->
      </ul>
    </div>
    <div>
      <form>
        <button class="butt1" formaction="login">Login</button>
        <button class="butt2" formaction="register">Register</button>
      </form>
    </div>
  </div>