<!DOCTYPE html>
<html>
<head>
  <title>Image Upload</title>
</head>
<body>
  <h1>Image Upload</h1>
  <form action="/img" method="post" enctype="multipart/form-data">
    <input type="file" name="image" />
    <input type="text" name="name" />
    <button type="submit">Upload Image</button>
  </form>
</body>
</html>
