<!DOCTYPE html>
<html>
<head>
  <title> Test</title>
</head>
<body>
  <h1> Test</h1>
  <form action="/test" method="post">
    <select name="" id="">
      <option value="shah"> Shah </option>
      <option value="kalash" selected> Kalash </option>
    </select>
    <button type="submit">Test</button>
  </form>
</body>
</html>
